source https://nuget.org/api/v2

nuget NuGet.CommandLine < 3
nuget NuGet.Core < 3
nuget Pester
nuget libGit2Sharp < 0.22
nuget GitVersion < 3
nuget Unic.Bob.Wendy
nuget Unic.Bob.Keith
nuget Unic.Bob.Skip
