source https://nuget.org/api/v2


nuget NuGet.CommandLine
nuget NuGet.Core
nuget Pester
nuget libGit2Sharp
nuget GitVersion

source https://teamcity.unic.com/httpAuth/app/nuget/v1/FeedService.svc/ username: "%PAKET_USER%" password: "%PAKET_PASSWORD%"

nuget Unic.Bob.Config
nuget Unic.Bob.Keith
nuget Unic.Bob.Skip 1.0.1-beta0001
